.calculator {
    width: 450px;
    margin: 10px;
    border: 2.5px solid #07beec;
    padding: 10px;
    background-color: orange;
  }
  
  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 2.5px solid #07beec;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  button {
    padding: 10px;
    margin: 5px;
  }